body {
    margin: 0;
    background-color: #c4bfbf;
    

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    background-color: #131313;
    font-family: Inter, sans-serif;
    max-width: 360px;
    padding: 0 20px 21px 0;
    margin-left: auto;
    margin-right: auto;
    color: #F5F5F5;
    box-sizing: border-box;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313;

}

.header {
    padding: 24px 20px;  /*верно ли  у всех блоков расставила поля: padding и margin? Мне кажется я чуть чуть иногда путсю когда ставить padding, а когда margin.
                         Просто я изначально указала padding у всего блока 20px слева и справа в свойстве .content-section. 
                         Нужно ли мне потом ещё раз указывать тот же padding 20 px слева и справа у блоков, которые как бы вложены внутри .content-section?
                         Если в случае с header убрать 20px, то блок изменится визуально, но не понимаю почему*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 78.453px;
    height: 15.432px;
    flex-shrink: 0; /*в данном случае нужно ли использовать данное свойство flex-shrink?*/
}

.header__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.header__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__menu-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    text-decoration-line: underline;
    
}

.header__menu-item_active {
    text-decoration-line: none;
}

.cover {
    padding: 7px 0 30px 20px;
    background-image: url("../images/cover.svg");
    background-repeat: no-repeat;
    background-position: 21px;
    background-size: contain;
}

.cover__title {
    display: flex;
    flex-direction: column;
    color: #FFF;
    font-family: "EB Garamond Regular", serif; /*Мне кажется, что как будто шрифт EB Garamond у меня и в мактет отличается. 
                                               Как будто, если даже сравнить надпись «С чистого листа» она выглядит иначе у меня и в макете.
                                               Но шрифт точно один и тот же. Как так, в чём я ошиблась?*/
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding-right: 24px;;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.intro {
    padding: 0px 20px 38px;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--text-gray, #CCC);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 24px;
}

.intro__title {
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%
}

.resons {
    padding: 39px 20px 40px;
}

.content-section__subtitle {
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond Regular", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;

}

.content-section__introduction {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 32px;
    margin-top: 32px;
}

.content-section__list {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    margin: 0 20px;
}

.content-section__list-accent {
    font-weight: 700;
}

.content-section__list-item {
    margin-top: 16px;
}

.how-to {
    padding: 40px 20px 60px
}

.card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
    margin-top: 32px;
    line-height: 21.6px;
}

.card__author-photo {
    width: 100px;
    height: 100px;
}

.card__author-name {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-top: 8px;
}

.card__title {
    font-family: "EB Garamond Regular";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    color: #131313;
}

.card_theme_dark {
    background-color: var(--gray-bg, #343434);
}

.card_theme_bright {
    background-color: var(--yellow-bg, #FEE42A);
    color:  #131313;
}

.cards-list {
    list-style: none;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--yellow-bg, #FEE42A);
}

.footer__links {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}